body {
  font-family: Arial, sans-serif;
  background-image: url(./img/urso_pidao.jpg);
  background-color: #f3f4f6;
  background-size: cover; 
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 10px;
  border-radius: 5px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#sim {
  background-color: #4caf50;
  color: white;
  font-weight: bold; 
}

#nao {
  background-color: #f44336;
  color: white;
  position: absolute;
  font-weight: bold; 
}

#mensagemFinal {
  font-size: 24px;
  color: #ffffff;
  display: none;
  background-color: rgba(76, 175, 80, 0.8);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
}